$black: #000;
$white: #fff;
$background-main: #171722;
$unactive-input: #353542;
$card-info-background: #212129;
$outlined-background: #606060;
$unactive-body-form: #959595;
$general-body-font: #FFFFFF;
$hashtags: #297019;

